:root{
    --pink: rgb(255, 82, 191);
    --veryPaleCyan: rgb(235, 251, 255);
    --veryDarkCyan: rgb(0, 37, 46);
    --grayishBlue: rgb(128, 141, 153);

    /*------Typography--------*/
    --openSans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--openSans);
    font-weight: 400;
    font-size: 18px;
    color: var(--veryDarkCyan);
}
h1{
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 40px;
    color: var(--veryDarkCyan);
}
h2{
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 30px;
    color: var(--veryDarkCyan);
}
button{
    cursor: pointer;
}
img{
    width: 100%;
}
ul{
	list-style: none;
}
.container{
    width:90%;
    margin: 0 auto;
}
.container-1{
    width:85%;
    margin: 0 auto;
}
.btn-pink {
    background-color: var(--pink);
    padding: 20px 60px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 18px;
    color: #fff;
    box-shadow: 1px 5px 10px rgb(255, 82, 191,0.5);
}
.btn-pink-lg {
    padding: 30px 100px;
}
.p-r-140{
	padding-right: 140px;
}
.p-l-130{
	padding-left: 130px;
}
.p-t-15{
	padding-top: 15px;
}



header{
    background:url(../img/bg-hero-desktop.svg);
    background-color: var(--veryPaleCyan);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
nav button{
    background-color:#fff;
    outline:none;
    border:none;
    border-radius:50px;
    padding:10px 50px;
    box-shadow: 0px 0px 10px rgb(224, 233, 238);
    font-weight: 600;
    font-size: 16px;
    font-family: var(--openSans)
}
header section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 50px 0 ;
}
header section>div{
    width: 50%;
}
header section h1{
    width: 80%;
} 
header section p{
    padding:30px 75px 30px 0;
    line-height: 1.5;
}



.main-section{
    margin:150px 0;
}
.main-section>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
    box-shadow:0px 0px 10px rgb(224, 233, 238);
    margin-bottom: 50px;
    padding: 0 25px 0 100px;
    border-radius: 20px;
}
.main-section>div>div:last-child{
	margin-bottom: 0px
}

.main-section>div>div>div>p{
	color: var(--grayishBlue)
}


/*--------footer-------*/
.footer-top{
	text-align: center;
	margin: 0 auto;
	width: 55%;
	box-shadow: 0px -5px 10px rgb(224, 233, 238);
    border-radius: 20px;
    padding: 60px 30px;
    margin-bottom: -100px;
    z-index: 1;
    position: relative;
    background-color: #fff
}
.footer-top h2{
	padding-bottom: 30px;
}

footer{
	padding-top: 200px;
	color: #fff;
	background-color: var(--veryDarkCyan);
	padding-bottom: 100px
}
footer a{
	text-decoration: none;
	color: #fff;
}
footer .footer-main-content{
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	grid-gap: 50px;
}

.footer-logo{
	width: 240px;
    height: 39px;
	margin-bottom: 50px
}
.footer-left-content>div{
	display: flex;
	margin-bottom: 20px;
}
.footer-left-content>div:last-child{
	margin-bottom: 0;
}
.footer-left-content .icon{
	padding-right: 20px;
}
.list{
	display: flex;
	justify-content: space-around;
}
.list li{
	margin-bottom:20px
}
.fa-logo{
    display: flex;
	text-align: center;
}
.fa-logo>div{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border:1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.fa-logo>div:last-child{
    margin-right: 0
}

.copyright{
    text-align: right;
    font-size: 13px;
    margin-top: 50px
}


/*---------Media Quiries------------**/

@media(max-width: 980px){
    .logo,.footer-logo{
        width: 260px;
    }
    .btn-pink-lg {
        padding: 25px 80px;
        margin-bottom: 80px;
    }
    header section>div:first-child{
        width: 55%;
    }
    header section>div:last-child{
        width: 45%;
    }
    header section h1{
        width: 100%;
    }
    header section p{
        padding:30px 10px 30px 0;
        line-height: 1.5;
    }
    .p-r-140{
        padding-right: 50px;
    }
    .p-l-130{
        padding-left: 40px;
    }
    .list{
        flex-direction: column;
    }
    .list li{
        padding-left: 20%
    }
}

@media(max-width: 768px){
    .logo{
        width: 250px;
    }
    h2{
        font-size: 35px;
    }
    .order-1{
        order:1
    }
    .container{
        width: 90%
    }
    .btn-pink{
        padding: 25px 125px;
        margin-top: 20px;
        margin-bottom: 100px;
        font-size: 18px;
        font-weight: 600;
    }
    .btn-pink-lg {
        padding: 25px 100px;
        margin-bottom: 80px;
    }
    .p-r-140{
        padding-right: 0px;
    }
    .p-l-130{
        padding-left: 0px;
    }
    header section{
        padding: 0 50px;
        flex-direction: column;
        align-items: center;
        padding: 100px 0 50px 0;
        text-align: center;
    }
    header section>div:first-child{
        width: 100%;
    }
    header section>div:last-child{
        width: 100%;
    }
    header section p{
        padding:40px;
        line-height: 1.5;
        font-size: 25px;
    }
    header section h1{
        padding: 0 50px;
        font-size: 45px;
    }
    header section img{
        padding: 0 40px;
    }

    .main-section{
        margin:120px 0;
    }
    .main-section>div>div{
        flex-direction: column;
        box-shadow:0px 0px 30px rgb(224, 233, 238);
        padding: 100px 70px 70px 70px;
        text-align: center;
    }
    .main-section>div>div h2{
        padding: 100px 0 0 0 
    }
    .main-section>div>div p{
        font-size: 23px;
        padding-top: 30px;
    }

    .footer-top{
        width: 90%;
        padding: 80px 30px 0 30px;
        margin-bottom: -120px;
    }
    .footer-top h2{
        font-size: 30px;
        padding-bottom: 30px;
    }

    footer .footer-main-content{
        grid-template-columns: 1fr;
        grid-gap: 80px;
    }
    .footer-logo{
        width: 250px;
        height: 39px;
        margin: 70px 0;
    }
    .footer-left-content>div{
        display: flex;
        margin-bottom: 50px;
    }
    .footer-left-content .icon{
        padding-top: 13px;
        padding-right: 20px;
    }
    footer a,footer p{
        font-size: 25px;
    }
    .list{
        flex-direction: column;
    }
    .list li{
        padding-left: 0%
    }
    .fa-logo{
        justify-content: center;
    }
    .fa-logo>div{
        width: 60px;
        height: 60px;
    }
    .copyright{
        text-align: center;
    }
    .copyright p{
        font-size: 15px;
    }
}

@media(max-width: 660px){
    .btn-pink{
        padding: 20px 80px;
    }
    .btn-pink-lg {
        padding: 25px 50px;
        margin-bottom: 80px;
    }
    header .btn-pink{
        margin-bottom: 70px;
    }
    nav>div{
        width: 50%;
    }

    nav>div:last-child{
        text-align: right;
    }
    .logo,.footer-logo{
        width: 180px;
    }
    nav button{
        padding: 10px 25px
    }
    h2{
        font-size: 25px;
    }
    header section p{
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    header section h1{
        font-size: 30px;
        padding: 0 10px;
    }
    .main-section{
        margin:80px 0;
    }
    .main-section>div>div {
        padding: 70px 0px; 
    }
    .main-section>div>div h2 {
        padding: 40px 0 0 0;
    }
    .main-section>div>div p{
        font-size: 18px;
        padding: 20px 20px 0 20px;

    }
    .footer-left-content .icon{
        padding-top: 5px;
        padding-right: 20px;
    }
    .footer-top h2{
        font-size: 25px;
    }

    footer a,footer p{
        font-size: 20px;
    }
    .copyright p{
        font-size: 13px;
    }
}


@media(max-width: 375px){
    .logo{
        width: 90%
    }
    .p-3{
        padding-left: 10px
    }
    .btn-pink{
        padding: 15px 50px;
    }
    .btn-pink-lg {
        padding: 15px 30px;
        margin-bottom: 80px;
    }
    nav button{
        padding: 8px 20px;
        font-size: 15px;
    }
    h2{
        font-size: 25px;
    }
    header section{
        padding: 40px 0;
    }
    header section p{
        font-size: 18px;
        padding: 30px 20px;
    }
    header section h1{
        font-size: 26px;
        padding: 0px;
    }

    .main-section>div>div p{
        font-size: 18px;
    }
    .main-section>div>div p{
        font-size: 16px;
        padding: 20px 20px 0 20px;
    }
    .main-section>div>div h2 {
        padding: 40px 0 0 0;
    }
    .footer-top{
        padding: 40px 20px 0 20px;
        margin-bottom: -100px;
    }
    .footer-top h2{
        font-size: 22px;
        padding-bottom: 20px;
    }
    footer a,footer p{
        font-size: 18px;
    }
    .fa-logo>div{
        width: 40px;
        height: 40px;
    }
    .footer-logo{
        width: 200px;
        height: 39px;
        margin: 0px 0 25px 0;
    }
    footer .footer-main-content{
        grid-gap: 60px;
    }
    .footer-left-content>div{
        display: flex;
        margin-bottom: 20px;
    }
    .footer-left-content .icon{
        padding-top: 0;
    }
    .copyright p{
        font-size: 13px;
    }
}